.banner-main {
  display: flex;
  align-items: center;
  width: 100%;
  height: 6rem;
  padding: 2rem;
  gap: 1.5rem;
}

.banner-text {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 0.025em;
}

.notification-container{
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 0.375rem;
  color: #FAFAFA;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  cursor: pointer;
  background: #434F72;
}

.notification-container:hover{
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  background: rgba(67, 79, 114, 0.9);
}

.notification-tick{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -0.25rem;
  right: -0.25rem;
  border-radius: 9999px;
  height: 1rem;
  width: 1rem;
  background-color: red;
  color: #FAFAFA;
  font-size: 0.85rem;
  font-weight: 900;
}

.modal-title{
  color: #3F4A6B;
  font-weight: 700;
  font-size: 2.25rem; /* 36px */
}

.view-all {
  color: #3F4A6B;
  font-weight: 700;
}

.view-all:hover {
  text-decoration: underline;
}

th {
  position: relative;
  padding: 4rem;
  white-space: nowrap;
}

th .header-content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.sort-icons {
  display: inline-flex;
  flex-direction: column;
  margin-top: -10px;
  margin-left: 5px;
}

.sort-icon {
  cursor: pointer;
  font-size: 1rem;
  margin: -0.6rem;
  margin-top: 0rem;
  color: white;
}
