/* All CSS Classes added in globals.css is accessible to the whole project */
/* To add file-specific CSS, create a page_styles array within a view file */
/* and specify the CSS file path. Please put the page-specific CSS files */
/* within the styles Folder for the auto-loader. */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0vh;
  margin: 0vh;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.test {
  border: red 1px solid;
}

.error {
  width: 100%;
  color: #f87171;
  font-size: 0.75rem;
  margin-top: 0.5rem;
}

.main {
  width: 100%;
  height: 100dvh;
  display: flex;
}

.main-col {
  width: 100%;
  height: 100dvh;
  max-height: 100dvh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}


/* SIDEBAR STYLES */

.sidebar {
  width: 14rem;
  height: 100dvh;
  background-color: #303952;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 1rem 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  gap: 2rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1), inset 0 2px 10px rgba(0, 0, 0, 0.2);
  flex-shrink: 0;
}

.sidebar-icon {
  width: 5rem;
  height: 5rem;
  margin-bottom: 0.75rem;
  background-color: #334155;
  padding: 0.5rem;
  border-radius: 50%;
}

.sidebar-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.75rem;
}

.sidebar-li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.75rem;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  background-color: #353e5a;
  color: rgba(255, 255, 255, 0.8);
  transition: background-color 0.2s ease;
}

.sidebar-li:hover {
  background-color: rgba(67, 79, 114, 0.8);
}

.sidebar-li-alt {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.75rem;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  background-color: #434f72;
  color: #ffffff;
  transition: background-color 0.2s ease;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.sidebar-li-alt:hover {
  background-color: rgba(67, 79, 114, 0.8);
}

.li-icon {
  color: #f1f5f9;
  font-size: 1.125rem;
}

.li-text {
  color: #f1f5f9;
}

.logout {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.75rem;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  background-color: #353e5a;
  color: rgba(255, 255, 255, 0.8);
  transition: background-color 0.2s ease;
}

.logout:hover {
  color: rgba(225, 192, 192, 0.95);
  background-color: rgba(114, 67, 67, 0.8);
}

.test {
  border: red 1px solid;
}

.view-btn {
  width: 2rem;
  height: 2rem;
  border-radius: 0.375rem;
  background-color: rgb(59 130 246);
  padding: 0.25rem;
  color: rgb(255 255 255);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease-in-out;
}

.view-btn:hover {
  background-color: rgb(37 99 235);
}

.edit-btn {
  width: 2rem;
  height: 2rem;
  border-radius: 0.375rem;
  background-color: rgb(34 197 94);
  padding: 0.25rem;
  color: rgb(255 255 255);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease-in-out;
}

.edit-btn:hover {
  background-color: rgb(22 163 74);
}
.inventory-btn {
  width: 2rem;
  height: 2rem;
  border-radius: 0.375rem;
  background-color: #434f72;
  padding: 0.25rem;
  color: rgb(255 255 255);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease-in-out;
}

.inventory-btn:hover {
  background-color: rgba(67, 79, 114, 0.8);
}

.del-btn {
  width: 2rem;
  height: 2rem;
  border-radius: 0.375rem;
  background-color: rgb(239 68 68);
  padding: 0.25rem;
  color: rgb(255 255 255);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease-in-out;
}

.del-btn:hover {
  background-color: rgb(220 38 38);
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.25rem 0.75rem;
  border-radius: 0.375rem;
  background-color: #353e5a;
  color: rgba(255, 255, 255, 0.8);
  transition: background-color 0.2s ease;
}

.pagination-link:hover {
  background-color: #3F4A6B;
}

.search-container1 {
  
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  margin-left: 0rem;
  width: fit-content;
  border-radius: 0.25rem;
  overflow: hidden;
  display: flex;
}


.search-containers {
  
  margin-bottom: 1rem;
  margin-left: 4.5rem;
  width: fit-content;
  border-radius: 0.25rem;
  overflow: hidden;
  display: flex;
}

.search-container{
  margin-top: 1rem;
  width: fit-content;
  border-radius: 0.25rem;
  overflow: hidden;
  display: flex;
}

.search input {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  width: 24ch;
  background: rgb(250, 250, 250);
  color: #434F72;
}

.search button {
  flex-grow: 1;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  display: flex;
  align-items: center;
  background: #434F72;
  color: #fff;
}

.search button:hover {
  background: #3F4A6B;
  cursor: pointer;
}

.dropdown {
  width: 10rem;
  line-height: 0%;
  position: relative;
  margin-left: 20rem;
  margin-top: -2.4rem;

}

.dropdown * {
  box-sizing: border-box;
}

.select {
  background: #fff;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px #434F72 solid;
  border-radius: 0.5em;
  padding: 1em;
  cursor: pointer;
  transition: background 0.3s;
  flex: 1; /* Adjust select box */
}

.select-clicked {
  border: 2px #434F72 solid;
  box-shadow: 0 0 0.8em #fff;
}

.select:hover {
  background: #434F72;
  color: #fff;
}

.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #434F72;
  transition: 0.3s;
}

.caret-rotate {
  transform: rotate(180deg);
}

.caret:hover {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #ffffff;
  transition: 0.3s;
}

.menu {
  list-style: none;
  padding: 0.2em 0.5em;
  background: #fff;
  border: 2px #434F72 solid;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  color: #000;
  position: absolute;
  top: 2.3em;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
  line-height: 1.2rem;
}

.menu li {
  padding: 0.7em 0.5em;
  margin: 0.3em 0;
  border-radius: 0.5em;cursor: pointer;
}

.menu li:hover{
  background: #434F72;
  color: #fff;
}

.menu-open{
  display: block;
  opacity: 1;
}

.select.active + .menu {
  display: block;
}

.dropdown1 {
  width: 10rem;
  line-height: 0%;
  position: relative;
  margin-left: 24.5rem;
  margin-top: -3.4rem;
  margin-bottom: 1.5rem;

}

.dropdown1 * {
  box-sizing: border-box;
}

.sort {
  width: 10rem;
  line-height: 0%;
  position: relative;
  margin-left: 20rem;
  margin-top: -2.4rem;
  margin-bottom: 1.5rem;

}

.sort * {
  box-sizing: border-box;
}

.sort1 {
  width: 10rem;
  line-height: 0%;
  position: relative;
  margin-left: 20rem;
  margin-top: -2.2rem;
  margin-bottom: 1.5rem;

}

.sort1 * {
  box-sizing: border-box;
}

.sort2 {
  width: 10rem;
  line-height: 0%;
  position: relative;
  margin-left: 20rem;
  margin-top: -4.7rem;
  margin-bottom: 1.5rem;

}

.sort2 * {
  box-sizing: border-box;
}

/* flex flex-col justify-center */
.notifications-container{
  width: 100%;
  max-height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 0.5rem;
}
.notification-card{
  width: 50ch;
  height: fit-content;
}

.box-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.single-box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 500px;
    border-radius: 4px;
    background-color: #fff;
    text-align: center;
    margin: 20px;
    padding: 20px;
    transition: .3s;
    box-shadow: 1px 0 5px 0 rgba(0,0,0,0.6) ;
}
.img-area{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height:250px;
    margin-bottom: 30px;
    padding: 20px;
    background-size:cover;

}

.header-text{
    font-size: 24px;
    font-weight: 500px;
    line-height: 48px;
}

